USE [master]
GO
/****** Object:  Database [MINI_SOCIAL_NETWORK]    Script Date: 9/30/2020 10:20:42 PM ******/
CREATE DATABASE [MINI_SOCIAL_NETWORK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MINI_SOCIAL_NETWORK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MINI_SOCIAL_NETWORK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MINI_SOCIAL_NETWORK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MINI_SOCIAL_NETWORK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MINI_SOCIAL_NETWORK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MINI_SOCIAL_NETWORK]
GO
/****** Object:  Table [dbo].[account]    Script Date: 9/30/2020 10:20:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[email] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[password] [varchar](64) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[statusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[article]    Script Date: 9/30/2020 10:20:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[postId] [varchar](9) NOT NULL,
	[date] [date] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[image] [varchar](max) NULL,
	[description] [ntext] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[statusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[postId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 9/30/2020 10:20:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[cmtId] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[date] [date] NOT NULL,
	[statusId] [int] NOT NULL,
	[email] [varchar](255) NULL,
	[postId] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cmtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emotion]    Script Date: 9/30/2020 10:20:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emotion](
	[emoId] [int] IDENTITY(1,1) NOT NULL,
	[isLiked] [bit] NOT NULL,
	[isDisliked] [bit] NOT NULL,
	[date] [date] NOT NULL,
	[email] [varchar](255) NULL,
	[postId] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[emoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notify]    Script Date: 9/30/2020 10:20:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notify](
	[notifyId] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[type] [int] NOT NULL,
	[email] [varchar](255) NULL,
	[postId] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notifyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 9/30/2020 10:20:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[statusId] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((1)) FOR [statusId]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD FOREIGN KEY([statusId])
REFERENCES [dbo].[status] ([statusId])
GO
ALTER TABLE [dbo].[article]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[account] ([email])
GO
ALTER TABLE [dbo].[article]  WITH CHECK ADD FOREIGN KEY([statusId])
REFERENCES [dbo].[status] ([statusId])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[account] ([email])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([postId])
REFERENCES [dbo].[article] ([postId])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([statusId])
REFERENCES [dbo].[status] ([statusId])
GO
ALTER TABLE [dbo].[emotion]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[account] ([email])
GO
ALTER TABLE [dbo].[emotion]  WITH CHECK ADD FOREIGN KEY([postId])
REFERENCES [dbo].[article] ([postId])
GO
ALTER TABLE [dbo].[notify]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[account] ([email])
GO
ALTER TABLE [dbo].[notify]  WITH CHECK ADD FOREIGN KEY([postId])
REFERENCES [dbo].[article] ([postId])
GO
USE [master]
GO
